# Creating a Baseline 
We create a baseline by predicting the value of tomorrow by using the value it was today at the same time!

In [19]:
import pandas as pd
import datetime
import numpy as np
from utils import get_model_metrics
from utils import train_val_test_split

We load the energy data. Then we:
<br/>-add a new row in wich we add the values from 96 timesteps before (= one day before)
<br/>-we print out the columns to compare the values and check our result
<br/>-we split the data into the train test split we will use for our models

In [28]:
df = pd.read_csv("Complete_daily_data.csv",parse_dates=[0])
df = df.loc[:,['Date', 'System total load in MAW',
       'Wind Offshore in MAW', 'Wind Onshore in MAW', 'Solar in MAW',
       'predicted_Wind Offshore in MAW', 'predicted_Wind Onshore in MAW',
       'predicted_System total load in MAW', 'predicted_Solar in MAW']]

In [36]:
df.dropna(inplace=True)

In [37]:
df.loc[:,"Baseline System total load in MAW"] = df.loc[:,"System total load in MAW"].shift(periods=96, fill_value=None)
df.loc[:,"Baseline Solar in MAW"] = df.loc[:,"Solar in MAW"].shift(periods=96, fill_value=None)
df.loc[:,"Baseline Wind Offshore in MAW"] = df.loc[:,"Wind Offshore in MAW"].shift(periods=96, fill_value=None)
df.loc[:,"Baseline Wind Onshore in MAW"] = df.loc[:,"Wind Onshore in MAW"].shift(periods=96, fill_value=None)

In [38]:
df.loc[:,["Date","Solar in MAW","Wind Offshore in MAW","Wind Onshore in MAW","System total load in MAW"]].tail(n=101).head()

,Date,Solar in MAW,Wind Offshore in MAW,Wind Onshore in MAW,System total load in MAW
203903,2020-10-24 22:45:00,0.0,5909.0,23749.0,41322.0
203904,2020-10-24 23:00:00,0.0,5918.0,23915.0,40405.0
203905,2020-10-24 23:15:00,0.0,5986.0,23998.0,40094.0
203906,2020-10-24 23:30:00,0.0,5986.0,24042.0,39772.0
203907,2020-10-24 23:45:00,0.0,5937.0,23988.0,39899.0

In [39]:
df.loc[:,["Date","Baseline Solar in MAW","Baseline Wind Offshore in MAW","Baseline Wind Onshore in MAW","Baseline System total load in MAW"]].tail()

,Date,Baseline Solar in MAW,Baseline Wind Offshore in MAW,Baseline Wind Onshore in MAW,Baseline System total load in MAW
203999,2020-10-25 22:45:00,0.0,5909.0,23749.0,41322.0
204000,2020-10-25 23:00:00,0.0,5918.0,23915.0,40405.0
204001,2020-10-25 23:15:00,0.0,5986.0,23998.0,40094.0
204002,2020-10-25 23:30:00,0.0,5986.0,24042.0,39772.0
204003,2020-10-25 23:45:00,0.0,5937.0,23988.0,39899.0

In [40]:
target_vars = ["System total load in MAW","Wind Offshore in MAW","Wind Onshore in MAW","Solar in MAW"]

In [41]:
X_train, y_train, X_val, y_val, X_test, y_test = train_val_test_split(df, target_vars, 90, 90)

The shape of the data set is: (201698, 13)

--------------------------------------------
The shape of the train set is: (184418, 8)
The shape of the target variable is: (184418, 4)
--------------------------------------------

--------------------------------------------
The shape of the validation set is: (8640, 8)
The shape of the target variable for the validation set is: (8640, 4)
--------------------------------------------

--------------------------------------------
The shape of the test set is: (8640, 8)
The shape of the target variable for the test set is: (8640, 5)
--------------------------------------------

In [42]:

y_pred = X_test.loc[:,["Baseline Solar in MAW","Baseline Wind Offshore in MAW","Baseline Wind Onshore in MAW","Baseline System total load in MAW"]]

In [44]:
for i in target_vars:
    print(i)
    print("=======================================")
    mae_base = get_model_metrics(y_test.loc[:,["Date",i]],y_pred.loc[:,("Baseline "+i)])
#     print(f"The naive value for {i} has mae = {round(mae_base,2)} and entsoe has = {round(mae_entsoe,2)}")

System total load in MAW
=======================================
----------------------------------------------
The overall mean absolute error of the model in MW is: 4068.58
----------------------------------------------
----------------------------------------------
The overall mean absolute scaled error of the model in MW is: 7.6954
Please note: to calculate the MASE, the prediction for the first observation was omitted
----------------------------------------------
Wind Offshore in MAW
=======================================
----------------------------------------------
The overall mean absolute error of the model in MW is: 1792.77
----------------------------------------------
----------------------------------------------
The overall mean absolute scaled error of the model in MW is: 20.6878
Please note: to calculate the MASE, the prediction for the first observation was omitted
----------------------------------------------
Wind Onshore in MAW
=======================================
----------------------------------------------
The overall mean absolute error of the model in MW is: 5682.54
----------------------------------------------
----------------------------------------------
The overall mean absolute scaled error of the model in MW is: 28.2645
Please note: to calculate the MASE, the prediction for the first observation was omitted
----------------------------------------------
Solar in MAW
=======================================
----------------------------------------------
The overall mean absolute error of the model in MW is: 1089.48
----------------------------------------------
----------------------------------------------
The overall mean absolute scaled error of the model in MW is: 2.6691
Please note: to calculate the MASE, the prediction for the first observation was omitted
----------------------------------------------